<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  
  <appender name="requestLogger" type="log4net.Appender.RollingFileAppender,log4net">
    <filter type="log4net.Filter.LevelToMatch">
      <levelToMatch value="INFO"/>
    </filter>
    <file value="Logs//RequestsLogs//"/>
    <datePattern value="dd-MM-yyyy.'json'"/>
    <preserveLogFileNameExtension value="false" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Date"/>
    <layout type="CooksProjectCore.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, CooksProjectCore.Core" >
    </layout>
  </appender>

  <appender name="performanceLogger" type="log4net.Appender.RollingFileAppender,log4net">
    <filter type="log4net.Filter.LevelToMatch">
      <levelToMatch value="WARN"/>
    </filter>
    <file value="Logs//PerformanceLogs//"/>
    <datePattern value="dd-MM-yyyy.'json'"/>
    <preserveLogFileNameExtension value="false" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Date"/>
    <layout type="CooksProjectCore.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, CooksProjectCore.Core" >
    </layout>
  </appender>
  
  <!--<root>
    <level value="DEBUG"/>
    <appender-ref ref="DatabaseLogger"/>
  </root>-->

  <logger name="PerformanceLogger">
    <level value="WARN" />
    <appender-ref ref="performanceLogger" />
  </logger>

  <logger name="RequestsLogger">
    <level value="INFO" />
    <appender-ref ref="requestsLogger" />
  </logger>
  
</log4net>