<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="requestsLogger" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs//RequestsLogs//" />
    <param name="AppendToFile" value="true" />
    <param name="DatePattern" value="yyyy-MM-dd&quot;.json&quot;" />
    <param name="RollingStyle" value="Date" />
    <param name="StaticLogFileName" value="false" />
    <layout type="CooksProjectCore.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, CooksProjectCore.Core">
    </layout>
  </appender>

  <appender name="performanceLogger" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs//PerformanceLogs//" />
    <param name="AppendToFile" value="true" />
    <param name="DatePattern" value="yyyy-MM-dd&quot;.json&quot;" />
    <param name="RollingStyle" value="Date" />
    <param name="StaticLogFileName" value="false" />
    <layout type="CooksProjectCore.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, CooksProjectCore.Core">
    </layout>
  </appender>

  <appender name="exceptionLogger" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs//ExceptionLogs//" />
    <param name="AppendToFile" value="true" />
    <param name="DatePattern" value="yyyy-MM-dd&quot;.json&quot;" />
    <param name="RollingStyle" value="Date" />
    <param name="StaticLogFileName" value="false" />
    <layout type="CooksProjectCore.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, CooksProjectCore.Core">
    </layout>
  </appender>

  <logger name="exceptionLogger">
    <level value="ERROR"></level>
    <appender-ref ref="exceptionLogger"/>
  </logger>

  <logger name="performanceLogger">
    <level value="WARN" />
    <appender-ref ref="performanceLogger" />
  </logger>

  <logger name="requestsLogger">
    <level value="INFO" />
    <appender-ref ref="requestsLogger" />
  </logger>
  
</log4net>