<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RequestsLogger" type="log4net.Appender.RollingFileAppender,log4net">
    <file value="Logs//RequestsLogs//"/>
    <datePattern value="dd-MM-yyyy.'json'"/>
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Date"/>
    <layout type="CooksProjectCore.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, CooksProjectCore.Core" >
      <conversionPattern value="%date [%thread] %-5level App  %newline %message %newline %newline"/>
    </layout>
  </appender>

  <!--<root>
    <level value="DEBUG"/>
    <appender-ref ref="DatabaseLogger"/>
  </root>-->
  <logger name="RequestsLogger">
    <level value="ALL" />
    <appender-ref ref="RequestsLogger" />
  </logger>
</log4net>